version: "3.8"
services:

  mongodb:
    container_name: mongodb
    image: mongodb/mongodb-community-server:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      # Optional: Disable telemetry if desired
      - DO_NOTHING=1 
    networks:
      - temporal-network     

volumes:
  mongodb_data:
  mongodb_config:

networks:
  temporal-network:
    driver: bridge
    name: temporal-network